@CHARSET "ISO-8859-1";

.z-row-content, .z-row-inner, .z-rows, .z-row, .z-grid-odd, .z-grid-header, .z-cell, .z-grid, .z-grid-header-border, .z-column { 
	background: transparent !important; 
	border: none !important; 
}

.z-grid-header table {
	border-top: 1px dashed #010101;
	border-bottom: 1px dashed #010101;
}

.z-grid-body {
	background: transparent !important; 
	border-bottom: 1px dashed #010101;
}

.z-column-content {
	color: #010101;
	padding: 10px 4px 10px 4px;
	font-family: sans-serif;
	font-size: 18px;
}

.z-row-content {
	color: #010101;
	padding: 2px 6px 2px 6px;
	font-family: sans-serif;
	font-size: 16px;	
}

.z-grid-body .z-cell {
	padding: 2px 8px 2px 8px;
	color: #010101;
}

.z-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.footerGrid {
	border-bottom: 1px dashed #010101;
}