@charset "ISO-8859-1";

/*  
	remove the listbox borders
*/

.z-listbox {
	border: 0px;
}

.z-listbox-header-border {
	border: 0px;
}

.z-listheader {
	border: 0px;
}

/*
	set the header content - padding -> padding affects the row height  
*/

.z-listheader-content {
	padding: 5px;
	font-size: 1em;
}

/*  
	set the listcell content - font-size & padding -> font-size & padding affects the row height
*/

.z-listcell-content {
	font-size: 1em;
	padding: 5px;
}

.z-listfooter-content {
	color: #000000;
	font-size: 14px;
	padding-right: 5px;
}

.inventoryEditButton {
	min-height: 12px;
	font-size: 1em;
	padding: 0px 6px 0px 6px;
}

.modButton {
	font-size: 1em;
	padding: 0px 5px 0px 5px;	
}

.modButtonRed {
	font-size: 1em;
	padding: 0px 5px 0px 5px;
	background-color: #f90000;	
}

.modButtonRed:hover[disabled] {
	font-size: 1em;
	padding: 0px 5px 0px 5px;
	background-color: #d9d9d9;	
}

.modButtonRed:focus, .modButtonRed:hover {
	background-color: #f90000;
}

.summaryGrid {
	border: 0px;
}

.hlayout-box {
	padding: 5px;
}

/*
*/
.z-combobox-listinfo {
	padding: 0px;
	height: 22px;
	font-size: 1em;
	border-radius: 0px;
	display: inline;
}

.z-combobox-listinfo > .z-combobox-input {
	width: 80px;
}

.red-background.z-listitem .z-listcell {
	background: red;
}

/*
	Bootstrap Badge
*/
.badge-red {
	background-color: red;
}

.badge-green {
	background-color: green;
}

/*
*/
.button-with-dropdown > .z-menuitem-content {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
}

.button-with-dropdown > .z-menuitem-content > .z-menuitem-text {
	font-family: revert;
	font-size: 1em;
}