@charset "ISO-8859-1";

.z-window-content {
	padding: 0px;
}

.z-grid-body .z-cell {
	padding: 4px 8px 4px 8px;
}

.smallText {
	font-size: 1em;
}

.z-textbox {
	padding: 2px;
	height: 28px;
	font-size: 14px;
}

.z-intbox {
	padding: 2px;
	height: 28px;
	font-size: 14px;
}

.z-decimalbox {
	padding: 2px;
	height: 28px;
	font-size: 14px;
}

.z-combobox-input {
	padding: 2px;
	height: 28px;
	font-size: 14px;
}

.z-combobox-button {
	padding-top: 2px;
	height: 28px;
}

.z-datebox, .z-combobox {
	height: 28px;	
}

.z-datebox > .z-datebox-input {
	padding: 2px;
	height: 28px;
	font-size: 14px;
}

.z-datebox > .z-datebox-button {
	padding: 4px 0px 0px 0px;
	height: 28px;
}

.selectButton {
	padding: 3px 2px 3px 2px;
}

.z-textbox-in-listbox {
	padding: 0px;
	height: 24px;
	font-size: 1em;
	border-radius: 0px;
}

.selectButton-in-listbox {
	padding: 0px 2px 0px 2px;
	border-radius: 0px;
	height: 24px;
}

.z-combobox-input-in-listbox {
	height: 24px;
}

.z-combobox-input-in-listbox > .z-combobox-input {
	padding: 0px;
	height: 24px;
	font-size: 1em;
	border-radius: 0px;
}

.z-combobox-input-in-listbox > .z-combobox-button{
	height: 24px;
	border-radius: 0px;
}

.textboxInList {
	padding: 2px;
	height: 24px;
	font-size: 1em;
	text-align: right;
}
